# SubhOne Client Environment Variables
VITE_API_URL=http://localhost:5000/api

# EmailJS Public Key & Settings
VITE_EMAILJS_PUBLIC_KEY=6bTlpiKEqGqGyAMaN
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_ORDER_TEMPLATE_ID=
VITE_EMAILJS_PRESCRIPTION_TEMPLATE_ID=
